.main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Black Pearl';
    background-color: #000;

    .btn {
        border: 2px #000 solid;
        padding: 5px 10px;
        margin: 5px;
        background-color: #212121;
        color: #fff;
        user-select: none;


        &:hover {
            background: #fff;
            color: #000;

            cursor: pointer;
        }
    }

    .main-menu-block {
        color: #fff;
        border: 1px #ccc solid;

        padding: 20px;

        .game-title {
            font-size: 1.5rem;
        }

        .controls-block {
            display: flex;
            flex-direction: column;

            .control-type {
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                .control-label {
                    margin-left: 20px;
                }

                .potion-icon {
                    width: 45px;
                    height: 45px;
                    background-image: url('../../../assets/graphics/ui/bloodpotion.png');
                    background-size: auto 100%;
                    background-position: -720px 0px;
                }
            }
        }


    }
}