.main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Black Pearl';
    background-image: url('../../../assets/graphics/ui/mainmenubg.jpg');
    background-size: cover;

    h2 {
        margin: 0;
        font-size: 1.2rem;
        color: #fff;
    }

    .btn {
        border: 2px #000 solid;
        padding: 5px 10px;
        margin: 5px;
        background-color: #212121;
        color: #fff;
        user-select: none;

        &:hover {
            background: #000;
            cursor: pointer;
        }
    }

    .main-menu-block {
        background-image: url('../../../assets/graphics/ui/wood.jpg');
        background-repeat: repeat;

        height: 40%;
        padding: 20px;

        .game-title {
            font-size: 1.5rem;
            color: #fff;
        }




    }

    .keyboard-mode {
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;

        .key-icon {
            opacity: 0.5;
            width: 75px;
            margin: 20px;

            img {
                width: 100%;
                height: 100%;
            }

            &:hover,
            &.active {
                opacity: 1.0;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}