body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

* {
  user-select: none !important;
}

@font-face {
  font-family: "Black Pearl";
  src: url("../assets/fonts/BlackPearl.ttf");
}