.gameplay {

    display: flex;
    font-family: 'Black Pearl';

    .icon {
        position: fixed;
        top: 0;
        left: 40%;
        background: #000;
        width: 45px;
        height: 45px;
    }
}